### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas DataFrame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Calculate the total number of players
total_players = len(purchase_data["SN"].value_counts())

# Create a DataFrame of the total number of players
count_players = pd.DataFrame({"Total Players":[total_players]})
count_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate the total number of unique items
count_unique_items = len((purchase_data["Item ID"]).unique())

# Calculate the average price
average_price = (purchase_data["Price"]).mean()

# Calculate the total number of purchases
count_purchases = (purchase_data["Purchase ID"]).count()

# Calculate the total revenue
total_revenue = (purchase_data["Price"]).sum()

# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Number of Unique Items":[count_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [count_purchases], 
                           "Total Revenue": [total_revenue]})

# Format currency values to go to two decimal places, include a dollar sign, and use comma notation
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group data by Gender
grouped_gender = purchase_data.groupby("Gender")

# Calculate the total number of players for each gender
count_gender = grouped_gender.nunique()["SN"]

# Calculate the percentage of total players for each gender
percentage_of_players_gender = (count_gender / total_players) * 100

# Create a DataFrame using above values
gender_demographics = pd.DataFrame({"Total Count": count_gender, "Percentage of Players": percentage_of_players_gender})

# Remove index name from the DataFrame
gender_demographics.index.name = None

# Format the values of total count in descending order, and
# Format percentage values to go to two decimal places, and include a percentage sign
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculate the total number of purchases for each gender 
count_purchases_gender = grouped_gender["Purchase ID"].count()

# Calculate the average purchase price for each gender
avg_purchase_price_gender = grouped_gender["Price"].mean()

# Calulate the total purchase value for each gender
total_purchase_value_gender = grouped_gender["Price"].sum()

# Calulate the average total purchase per person for each gender
avg_purchase_per_person_gender = total_purchase_value_gender/count_gender

# Create a DataFrame using above values
gender_demographics = pd.DataFrame({"Purchase Count": count_purchases_gender, 
                                    "Average Purchase Price": avg_purchase_price_gender,
                                    "Total Purchase Value": total_purchase_value_gender,
                                    "Avg Total Purchase per Person": avg_purchase_per_person_gender})

# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

# Format currency values to go to two decimal places, include a dollar sign, and use comma notation
gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Create bins in which to place values based upon age group
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create a GroupBy object based upon "Age Group"
grouped_age = purchase_data.groupby("Age Group")

# Calculate the total number of players for each age group
count_age = grouped_age["SN"].nunique()

# Calculate the percentage of total players for each age group
percentage_of_players_age = (count_age/total_players) * 100

# Create a DataFrame using above values
age_demographics = pd.DataFrame({"Total Count": count_age,"Percentage of Players": percentage_of_players_age})

# Remove index name from the DataFrame
age_demographics.index.name = None

# Format percentage values to go to two decimal places, and include a percentage sign
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Calculate the total number of purchases for each age group 
count_purchases_age = grouped_age["Purchase ID"].count()

# Calculate the average purchase price for each age group
avg_purchase_price_age = grouped_age["Price"].mean()

# Calculate the total purchase value for each age group
total_purchase_value_age = grouped_age["Price"].sum()

# Calculate the average total purchase per person for each age group
avg_purchase_per_person_age = total_purchase_value_age/count_age

# Create a DataFrame using above values
age_demographics = pd.DataFrame({"Purchase Count": count_purchases_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value_age,
                                 "Avg Total Purchase per Person": avg_purchase_per_person_age})

# Provide index in top left as "Age Ranges"
age_demographics.index.name = "Age Ranges"

# Format currency values to go to two decimal places, include a dollar sign, and use comma notation
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Group Data by screen name
grouped_sn = purchase_data.groupby("SN")

# Calculate the total number of purchases for each screen name
count_purchases_spender = grouped_sn["Purchase ID"].count()

# Calculate the average purchase price for each screen name 
avg_purchase_price_spender = grouped_sn["Price"].mean()

# Calculate the total purchase value for each screen name
total_purchase_value_spender = grouped_sn["Price"].sum()

# Create a DataFrame using above values
top_spenders = pd.DataFrame({"Purchase Count": count_purchases_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":total_purchase_value_spender})

# Sort in descending order to obtain top 5 spenders based on total purchase value
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format currency values to go to two decimal places, include a dollar sign, and use comma notation
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
# Create a new DataFrame using columns related to items
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group Data by item id and item name 
grouped_item = items.groupby(["Item ID","Item Name"])

# Calculate the total number of purchases for each item
count_purchases_item = grouped_item["Price"].count()

# Calculate the total purchase value for each item 
total_purchase_value_item = (grouped_item["Price"].sum()) 

# Find the item price for each item
price_item = total_purchase_value_item/count_purchases_item

# Create a DataFrame using above values
most_popular_items = pd.DataFrame({"Purchase Count": count_purchases_item, 
                                   "Item Price": price_item,
                                   "Total Purchase Value":total_purchase_value_item})

# Sort in descending order to obtain top 5 item names based on popularity
most_popular_items_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format currency values to go to two decimal places, include a dollar sign, and use comma notation
most_popular_items_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Sort in descending order to obtain top 5 items based on total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

# Format currency values to go to two decimal places, include a dollar sign, and use comma notation
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})